:is(h1,h2:ivalid,p,div){
    font-style: italic;
}
.special{
    font-style: normal;
}
h2:has(+ p, + ul.red) {
    font-style:italic;
  }
  li ul li{
    list-style-type: circle;
  }
  li ol li{
    list-style-type:lower-greek
  }