span{
    display:inline;
    border:1px solid black;
    height:40px;
    width:400px;
    background: linear-gradient(pink,yellow);
}
.class{
        display:inline-block;
        border:1px solid black;
        height:40px;
        width:400px;
        background: linear-gradient(pink,yellow);
}
section{
    display:block;
    color:aqua
}